body{
  color: red;
}
body{
  background: blue;
}
.nav_bar{
  background-color: green;
}

.container{
  display: grid;
  grid-template-columns:2fr 1fr;
}

.left-content{
  background-color: black
}

.right-content{
  background-color: yellow
}


.content-container {

display: grid;

grid-template-columns: repeat(3, 1fr);

grid-column-gap: 20px;

}

.card {
  border: 1px solid rgba(12,34,56);
  border-radius: 20px;
  
}
